<html>

<head>
    <title>User Profile - {{user[1]}}</title>
</head>

<body>
    <h1>
        User Profile
    </h1>
    <table>
        <thead>
            <td>ID</td>
            <td>Username</td>
            <td>Password</td>
            <td>IsAdmin?</td>
        </thead>
                   
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
        </tr>
     </table>
     <a href="/users">Go back</a>
</body>

</html>